.laser-flow-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.laser-flow-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
